body {
    background-color: yellow;
}

.rowDivs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#container {
    display: flex;
    height: 300px;
    width: 300px;
    border-width: 1px;
    border-style: solid;
}


.rowDivs div {
    border-width: 1px;
    border-style: solid;
    height: 5px;
    flex: 1;
}

.buttonDiv, .containerDiv {
    display: flex;
    justify-content: center;
}

button {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}