.rowDivs {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    width: 100px;
}


.rowDivs div {
    border-width: 1px;
    border-style: solid;
    width: 10px;
    height: 10px;
}